


.main-content-empresas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #58728d;
    }
   
 .empresas-title {
    color: #a4acb6;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 90px;
    margin-left: 50px;
    margin-top:70px;
  }

.empresas-text1 {
    color: aqua;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top:20px;
  }
  
.empresas-subtitle {
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-top:20px;
  }
  
.empresas-text {
    color: mediumaquamarine;
    align-self: flex-start;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-top:20px;
  }
  
.imagem-empresa1 {
    float: right;
    margin: 5px;
    margin-bottom: 0px;
    padding: 2px;
  }
  
.imagem-empresa2 {
    float: right;
    margin: 5px;
    margin-bottom: 0px;
    padding: 2px;
  }
  
.imagem-empresa3 {
    float: right;
    margin: 5px;
    margin-bottom: 0px;
    padding: 2px;
  }
 
*{
    -webkit-box-sizing: border-box;
    -moz-transition-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
  }
  
  
  .formulario_{
      display:block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  .formulario_> div {
    width: 400px;
    margin: 1% auto;
    padding-bottom: 20px;
    border-radius: 10px;
    background: #f0ecec;
    padding-bottom: 10px;
  }
  .formulario{
     display: block;position: fixed;
   top: -200%;
   right: 0;
   left: 0;
   bottom: 0;
   z-index: -1;
   -webkit-transition: all 400ms cubic-bezier(0.35,-0.39, 0.18, 1.18);
   -moz-transition: all 400ms cubic-bezier(0.35,-0.39, 0.18, 1.18);
   transition: all 400ms cubic-bezier(0.35,-0.39, 0.18, 1.18);
  }
  .container-table .add_table {
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
    color: #f1f1f1;
    background-color: #8b388e;
    border: none;
    margin-bottom: 40px;
    padding: 7px 17px;
    border-radius: 5px;
  }
  
  .input_div{
    padding: 30px;
    display: flex;
  }
  
  #title{
    text-align: center;
    width: 100%;
    height: 40px;
    border-radius:  5px 5px 0px 0px;
    display: flex;
  }
  
  #title-form {
    font-family: 'Oswald', sans-serif;
      font-size: 60px;
      color: #e6e1e7;
      background-color: #703737;
      margin: 35px auto;
  }
  .container-form {
    margin-top: 60px;
  }
  
  #input_form {
    border: solid #201f1f;
    border-radius: 5px;
    border-width: 1px;
    display: block;
    width: 100%;
    height: 50px;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
      font-size: 50px;
  }
  
  .send-buttons {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 20px 80px;
    border: solid #1d1c1c;
      border-radius: 5px;
      border-width: 1px;
      width: 180px;
      padding: 5px;
      font-family: 'Oswald', sans-serif;
      font-size: 30px;
      background-color: #964b96;
      color:  #FAFAFA;
  }
  
  .send-buttons:hover {
    background-color: #968c8c;
    color: #464343;
  }
  
  #input-form:focus{
    border: 1px solid #00BFFF;
  }
  
  .close {
      color: #867f7f;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
      display: inline-flex;
      z-index: 1;
      float: right;
      margin-top: 5px;
      margin-right: 5px;
  }
  .close .fa-times-circle {
    color: #dfd6d6;
  }
  
  .close:hover .close:focus {
      color: #f0ebeb;
      text-decoration: none;
      cursor: pointer;
  }